---
import HeadMeta from './HeadMeta.astro';
import Header from './Header.astro';
import Footer from './Footer';
import NormalJsonLd from '@/components/json-ld/normal.astro';
import slateConfig from '~@/slate.config';
import { getFullTitle } from '@/helpers/utils';
import '@/assets/style/common.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = '',
  description = slateConfig.description,
  image = '/og_image.png',
} = Astro.props;
const fullTitle = getFullTitle(title);
---

<!doctype html>
<html lang={slateConfig.lang} data-theme="light">
  <head>
    <HeadMeta title={fullTitle} description={description} image={image} />
    <slot name="json-ld">
      <NormalJsonLd title={fullTitle} description={description} image={image} />
    </slot>
  </head>
  <body class="bg-slate1">
    <div class="m-auto flex min-h-dvh max-w-180 flex-col px-6 pb-6 pt-18">
      <slot name="header">
        <Header />
      </slot>
      <slot />
      <slot name="footer">
        <Footer client:visible />
      </slot>
    </div>
  </body>
</html>
